<nav class="navbar navbar-default navbar-fixed-top barMod" role="navigation" ng-class="{'barMod': !isNavCollapsed}">
   <div class="container-fluid" ng-class="{'barMod': !isNavCollapsed}">
      <div class="navbar-header">
         <span class="hidden-xs" ui-sref="home">
            <img  src="assets/images/logo01.svg" class="myLogo img-fluid"  alt="sksouza logo" aria-label="Susan Souza Logo"/>
         </span>
      </div><!-- /.navbar-header -->
      <span class="navbar-left">
         <div>
            <h2 ui-sref="home" class="myName">Susan Souza</h2>
            <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
               <span class="sr-only">Toggle navigation</span>
               <i class="fa fa-bars fa-3x"></i>
            </button> <!-- /.navbar-toggle -->
         </div>
      </span> <!-- /.navbar-left -->
      <div class="collapse navbar-collapse navbar-right" uib-collapse="!isNavCollapsed">
         <ul class="nav navbar-nav">
            <li  ui-sref-active="activeNav" ng-click="isNavCollapsed = !isNavCollapsed"><a ui-sref="folio"><span>CODE</span></a></li>
            <li  ui-sref-active="activeNav" ng-click="isNavCollapsed = !isNavCollapsed"><a ui-sref="resume"><span>R&Eacute;SUM&Eacute;</span></a></li>
            <li  ui-sref-active="activeNav" ng-click="isNavCollapsed = !isNavCollapsed"><a ui-sref="tiles"><span>PUZZLES</span></a></li>
         </ul>
      </div><!-- /. navbar-collapse -->
      </span>
   </div><!-- /.container-fluid -->
</nav>
