
<div layout-fill  class="resumeVolunteer">
   <div layout="row">
      <div  class="sectionHeading"flex-gt-sm="15" flex-sm="80" flex-offset="0">VOLUNTEER EXPERIENCE</div>
   </div>
   <div ng-repeat="vol in volunteer track by vol.vId" layout-margin>
      <div layout="row">
         <div flex="65" flex-offset="15"class="titleRow">{{vol.place}} - {{vol.location}}</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5" class="titleRow">{{vol.startDate}}-{{vol.endDate}}</div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex flex-offset="20" class="myTitle"> {{vol.title}}</div>
         </div>
         <div layout="column"  class="other"  flex-offset="15">
            {{vol.other}}
         </div>
      </div>
   </div>
</div>
