
<div layout-fill  class="resumeVolunteer">
   <div layout="row">
      <div  class="sectionHeading"flex="90">VOLUNTEER EXPERIENCE</div>
   </div>
   <div ng-repeat="vol in volunteer track by vol.vId" layout-margin>
      <div layout="row">
         <div flex-gt-sm="55" flex-sm="65" flex-offset-gt-sm="15" flex-offset-sm="10" class="titleRow">{{vol.place}} - {{vol.location}}</div>
         <div flex flex-offset="10" flex-offset="5" class="titleRow">{{vol.startDate}}-{{vol.endDate}}</div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex flex-offset="20" class="myTitle"> {{vol.title}}</div>
         </div>
         <div layout="column"  class="other"  flex-offset="20" ng-if="vol.other.length">
            <span><i class="fa fa-circle"></i>{{vol.other}}</span>
         </div>
      </div>
   </div>
</div>
