<!--<div class="row">
   <div class="col-xs-12 text-center">
         <div class="btn btn-uzi" ng-model="counter.counterMode" uib-btn-radio="'basic'">Basic</div>
         <span class="input-group">
           <span class="input-group-btn btn btn-uzi"  ng-model="counter.counterMode" uib-btn-radio="'countUp'">Up To</span>
           <input type="text" class="form-control counterInput" placeholder="0" aria-describedby="count up to">
        </span>
         <span class="input-group">
           <span class="input-group-btn btn btn-uzi"  ng-model="counter.counterMode" uib-btn-radio="'countDown'">Down From</span>
           <input type="text" class="form-control counterInput" placeholder="0" aria-describedby="count up to">
        </span>
   </div>
</div>-->
<div class="row">
   <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center panel panel-default">
      <div class="panel-body">
         <p class=" bigText">{{counter.count}}</p>
         <div class="btn btn-lg" ng-click="counter.countDecr()"><i class="fa fa-minus fa-3x"></i></div>
         <div class="btn btn-lg" ng-click="counter.countIncr()"><i class="fa fa-plus fa-3x"></i></div>
      </div>
   </div>
</div>
