<div layout-fill  class="education">
   <div ng-repeat="ed in education track by $index" layout-margin>

      <div layout="row" hide-gt-sm ng-if="$index === 0" class="sectionHeading"flex="5">EDUCATION</div>
      <div layout="row" >
         <div ng-if="$index === 0"class="sectionHeading" flex="5" hide-sm>EDUCATION</div>
         <div ng-if="$index !== 0" flex-gt-sm="50" flex-sm="60" flex-offset-gt-sm="15" flex-offset-sm="10" class="titleRow">{{ed.degree}}</div>
         <div ng-if="$index === 0" flex-gt-sm="50" flex-sm="60" flex-offset="10" class="titleRow">{{ed.degree}}</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5"class="titleRow">{{ed.degreeDate}}</div>
      </div>
      <div layout="column">
         <div layout="row">
            <div flex-gt-sm="40" flex-sm="55" flex-offset-gt-sm="20" flex-offset-sm="15">{{ed.school}}</div>
            <div flex>GPA: {{ed.gpa}}</div>
         </div>
         <div layout="row" hide-sm>
            <div layout="row" flex-gt-sm="80" flex-sm="85"flex-offset-gt-sm="20" flex-offset-sm="15" class="hon">
               <span class="honors">Honors: </span>
               <span ng-repeat="hon in ed.honors track by $index">
                  {{hon}}
                  <span  class="comma" ng-if="$index < ed.honors.length-1">,&nbsp;</span>
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
