<div layout="row" class="inner projects">

      <!--<div layout="column" layout-align="center center">
        <p>
           Projects section of this site is currently under construction.
        </p>
        <p>
           You can find my Github <a href="https://github.com/TycheLaughs">here</a>.
        </p>
        <p>
           You can find a number of quick practice projects I've done
           <a href="https://github.com/TycheLaughs/uzi-exercises">here</a>,
           and you can find my very old (art) portfolio website <a href="http://sksdigitalart.com">here</a>.
        </p>
     </div>-->
  <div flex-sm="5" flex-md="5" flex-gt-md="10">
     <a><i class="fa fa-chevron-left nvLft"></i></a>
     <!--TODO:
     ng-click for selected value on tabs
     if selected === 0, selected = projects.length -1
     otherwise, selected -= 1
     -->
  </div>
  <div flex-sm="90" flex-md="90" flex-gt-md="80">
      <md-tabs  md-no-ink-bar md-swipe-content md-no-ink>
         <md-tab ng-repeat="p in projects track by p.pid">
            <md-tab-label class="md-primary">
               {{p.pid}}
            </md-tab-label>
            <md-tab-body>
               <div class="project-sheet" flex>
                  <div layout="column" layout-align="center center">
                   <p>
                       Projects section of this site is currently under construction.
                   </p>
                   <p>
                       You can find my Github <a href="https://github.com/TycheLaughs">here</a>.
                   </p>
                   <p>
                       You can find a number of quick practice projects I've done
                       <a href="https://github.com/TycheLaughs/uzi-exercises">here</a>.
                   </p>
                  </div>
                  <!--
                  <div>
                     <h2>{{p.projectTitle}}</h2>
                  </div>

                  <div class="myTitle">{{p.title}}</div>
                  <div class="projBody">
                     <div ng-repeat="d in p.projectDesc track by $index">{{d}}</div>
                  </div>
                  -->
               </div>
            </md-tab-body>
         </md-tab>
      </md-tabs>
   </div>
   <div flex-sm="5" flex-md="5" flex-gt-md="10">
      <a><i class="fa fa-chevron-right nvRgt"></i></a>
      <!--TODO:
      ng-click for selected value on tabs
      if selected === projects.length -1, selected = 0
      otherwise, selected += 1
      -->
   </div>


</div>
