<div layout ="column" layout-padding layout-margin layout-align="space-around center" class="inner">
<!--
      THIS PAGE BEST VIEWED ON A LARGE SCREEN
-->

   <div layout="row" layout-align="space-between center">
      <div><canvas id="canvSml" width="300" height="300" style="border:solid 1px gray" ng-click="recieveClicks($event)"></canvas></div>
      <canvas id="canv" width="600" height="600" style="border:solid 1px gray" ng-click="recieveClicks($event)"></canvas>
   	<div layout="column" layout-align="start start">
         <div>
            <md-radio-group ng-model="whichCanv" ng-change="switchCanv()">
               <md-radio-button value="large" >Large</md-radio-button>
               <md-radio-button value="small">Small</md-radio-button>
            </md-radio-group>
         </div>
         <div layout="row" layout-align="center center">
            <md-button id="leftBtn" ng-click="left()">Nudge Left</md-button>
            <div layout="column">
               <md-button id="upBtn" ng-click="up()">Nudge Up</md-button>
               <md-button id="downBtn" ng-click="down()">Nudge Down</md-button>
               <md-button id="resetBtn" ng-click="tileReset()">Reset</md-button>

            </div>
      	   <md-button id="rightBtn" ng-click="right()">Nudge Right</md-button>

         </div>
         <div layout="row" flex="80" layout-align="center center">
            <md-list>
               <md-list-item ng-if="tiles.length > 0">[</md-list-item>
               <md-list-item flex ng-repeat="tile in tiles track by $index">
                  {{tile|json}}<span ng-if="$index !== tiles.length -1">,</span>
               </md-list-item>
               <md-list-item ng-if="tiles.length > 0">]</md-list-item>
            </md-list>
         </div>
      </div>
   </div>

</div>
