<div class="inner" id="allContent">
   <div class="row puzz">
      <div class="col-xs-10 col-sm-offset-1">

         <div class="row">
            <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-xs-offset-0 text-center">
               <canvas id="canv" class="canv hidden-xs" width="600" height="600" ng-click="puzz.clickedCanvas($event)"></canvas>
               <canvas id="canvSml" class="canv visible-xs" width="300" height="300" ng-click="puzz.clickedCanvas($event)"></canvas>
            </div>
            <div class="col-sm-3 puzzInstructions hidden-xs">
               <div class="panel panel-default">
                  <div class="panel-body text-center">

                  <button type="button" class="btn btn-primary uziPuzzReset" aria-label="Reset" ng-click="puzz.clearPuzzle()">
                     Reset Puzzle
                  </button>
                  <p>Select all tiles via click or tap without re-crossing your path or using diagonals.</p>
               </div>
            </div>
            <uib-alert class="alert-uzi" ng-repeat="alert in puzz.alerts" close="puzz.closeAlert()" dismiss-on-timeout="3000">
               {{alert.msg}}
            </uib-alert>
         </div>
      </div>
      <div class="row visible-xs puzzInstructions">
         <div class="col-xs-11 col-xs-offset-1 ">
            <uib-alert class="alert-uzi" ng-repeat="alert in puzz.alerts" close="puzz.closeAlert()" dismiss-on-timeout="3000">
               {{alert.msg}}
            </uib-alert>
            <div class="panel panel-default">
               <div class="panel-body text-center panelText">

                  <button type="button" class="btn btn-primary uziPuzzReset" aria-label="Reset" ng-click="puzz.clearPuzzle()">
                     Reset Puzzle
                  </button>
                  <p class="instrText">Select all tiles via click or tap without re-crossing your path or using diagonals.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
