<div class="inner puzz">
   <div layout="row" layout-align="center start" layout-margin>
      <canvas id="canv" class="canv" width="600" height="600" ng-show="lrg"></canvas>
      <canvas id="canvSml" class="canv" width="300" height="300" ng-show="sml"></canvas>
   </div>
   <div layout="column" layout-align="start center">
      <md-button class= "md-raised puzzleBtn" aria-label="Reset" ng-click="clearPuzzle()">
         Reset
      </md-button>
      <div>
         <p class="md-body-3">Select all tiles in one continuous path via click or tap without crossing your path again or using diagonals.</p>
         <!--<p class="md-body-3">Numbered tiles must be seleced in the order they numerically appear.</p>-->
      </div>
      <md-button class="md-raised puzzleBtn" aria-label="Next" ng-click="redraw()" ng-show="puzzleIndex < 4">
         Next
      </md-button>
      <div>
         <p class="md-body-3" ng-show="puzzleIndex === 4 && wonRound">Check back soon for more puzzles!</p>
      </div>
   </div>
</div>
