<div class="container inner">

  <div class="row"> <!-- big fat row for all content -->
   <div class="col-xs-12">  <!-- margin tweaking div inside inner-->



      <div class="row proj">
         <div class ="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">



            <!--PROJECTS-->
            <div class="row" ng-repeat="pro in folio.projects">
               <p class="text-center projSectionHeading">
                    {{pro.sectName}}
                    <i class=""></i>
               </p>
               <div class="panel panel-default col-sm-11 col-sm-offset-1">
                  <div class="panel-body">
                     <!-- repeat here -->
                     <div class="row projContent" ng-repeat="p in pro.projects">
                        <div class="titleRow col-xs-10"><a class="projLink" target="_blank" rel="noopener" href="http://{{p.projURL}}" ng-show="p.projURL!== ''">{{p.name}}<i class="fa fa-external-link"></i></a><span ng-show="p.projURL=== ''">{{p.name}}</span></div>
                        <div class="col-xs-10" ng-show="p.projRepo!== ''"><a class="projLink" target="_blank" rel="noopener" href="http://{{p.projRepo}}"><i class="fa fa-github fa-lg"></i> View this repository on Github <i class="fa fa-external-link"></i> </a></div>
                        <div class="col-xs-12 subTitle">{{p.projDate}}</div>
                        <div class="col-xs-12">{{p.desc}}</div>
                     </div>


                  </div> <!-- end panel body -->
               </div><!-- end panel -->
            </div><!-- end PROJECTS-->




         </div><!-- end folioContent innter column adjustment block -->
      </div><!-- end FOLIO CONTENT -->







   <!-- resume download link for extra small screens, replaced with option in dropdown near top *
       <div class="row visible-xs">
         <div class="col-xs-1 col-xs-offset-5 pdfSpecial">
            <a target="_blank" rel="noopener" href="assets/resources/uSouza_resume.pdf">
                <i class=" fa fa-file-pdf-o fa-3x"></i>
            </a>
         </div>
         </div>
         <div class="row visible-xs">
            <p class="col-xs-1 col-xs-offset-4">R&Eacute;SUM&Eacute;</p>
         </div>
       * end resume download for small screens -->
       </div> <!-- end margin tweaking div inside inner -->
   </div><!-- end big fat row for all content -->
</div><!-- end .inner container -->
