<div layout-fill layout-align="center center"  class="resumeHead">
   <!--<div layout="row" flex-offset="85" hide-gt-sm><a href="assets/resources/usouza_resume2015.pdf"><i class="fa fa-download"></i></a></div>-->
   <div layout="row">&nbsp;</div>
   <div layout="row" layout-align="space-around center">
      <div flex-gt-sm="25" flex-offset="10"><a href="mailto:{{header.email}}">{{header.email}}</a></div>
      <div flex-gt-sm="25"><a href="http://{{header.gitHub}}">{{header.gitHub}}</a></div>
      <div flex-gt-sm="25"><a href="http://{{header.linkedin}}">LinkedIn</a></div>
      <div flex-gt-sm="15" flex-offset-gt-sm="0" flex="10" flex-offset="5"><a href="assets/resources/usouza_resume2015.pdf"><i class="fa fa-download"></i>
<!--<a href="http://{{header.website}}">{{header.website}}--></a></div>
   </div>
</div>
