<div layout-fill layout-align="center center"  class="resumeHead">
   <div layout="row">&nbsp;</div>
   <div layout="row" layout-align="space-around center">
      <div flex-gt-sm="25" flex-offset="10"><a href="mailto:{{header.email}}"><i class="fa fa-envelope fa-lg"></i></a></div>
      <div flex-gt-sm="25"><a href="http://{{header.gitHub}}"><i class="fa fa-github fa-lg"></i></a></div>
      <div flex-gt-sm="25"><a href="http://{{header.linkedin}}"><i class="fa fa-linkedin-square fa-lg"></i></a></div>
      <div flex-gt-sm="15" hide-xs hide-sm>
         <a href="{{header.download}}">
            <i class="fa fa-file-pdf-o fa-2x"></i>
         </a>
      </div>
   </div>
</div>
