/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);

/**
#01080C dark dark dark blue
#010E16 dark dark blue
#011621 another dark blue
#01202F md dark blue
#011E38 dark blue
#1ED1FB light blue
#70C9E3 bright pale blue
#A6C9E3 pale pale blue
#0E6791 med blue
#275961 faded blue
#01B2D5 bright blue
**/
html {
   font-family: 'Roboto Slab', serif;
   font-size: .8em;
   background-image: linear-gradient(to top,#011621, #010E16);
   background-attachment: fixed;
   background-repeat: no-repeat;
}

body{
   background-image: linear-gradient(to top,#011621, #010E16);
   background-attachment: fixed;
   background-repeat: no-repeat;
   overflow-x:hidden;
   overflow-y:auto;
   color: #cddada;


}
span{
   position: relative;
}
p{
   font-size: 1.2em;
}

.myName{
   //font-family: 'Maven Pro', sans-serif;
   font-family: 'Architects Daughter', cursive;
   font-size: 1.7em;
   color: #70C9E3;//#51AABA;//#51AABA;//#6BAFBB;
   position:relative;
   //left:8%;
   //
   //text-shadow: #3F97A7 .1em 0 1px,#3F97A7 0 -.1em 1px, #3F97A7 0 .1em 1px,#3F97A7 -.1em 0 1px;
}
.myName > h3{
   margin-top:.125em;
}
.myNameSm{
   margin-right: 25%;
}
[layout=row] {
  flex-direction: row;
}

.inner{
   overflow-y: auto;
   overflow-x: hidden;
   padding-top: 6%;
   background-image: linear-gradient(to top,#011621, #010E16);
   background-attachment: fixed;
   background-repeat: no-repeat;
   min-height:100vh;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

a{
   color: #A6C9E3;
   cursor:pointer;
}


a.md-button.md-raised, .md-button.md-raised{
   color: #010E16;
   background-color: #A6C9E3;
}
a.md-button.md-raised:active, .md-button.md-raised:active,
md-button.md-raised:hover, a.md-button.md-raised:hover,
md-button.md-raised:focus, a.md-button.md-raised:focus{
   color: #010E16;
   background-color: #A6C9E3;
}

  h1 {
    font-size: 3em;
  }


.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 50px;
    }
  }
}

/* resume styling */

.sectionHeading, .titleRow{
   font-weight:bold;
}
.myTitle, .honors, .footer, .togglers{
   font-style:italic;
   color: #70C9E3;
}/*
.myTitle{
   margin-left:17%;
}
ul.xpDesc > li{
   margin-left:16%
}*/
ul.xpDesc{
   margin-top: .5%;
   list-style-type: circle;
}
.hon span{
   position: relative;
   left: 1.6%;
}
.honors{
   margin-right: .5%;
}
.comma{
   margin-left:-.3%!important;
}
.resume{
   margin-top: 1.5%;
   color: #A6C9E3;
}
.resumeFoot{
   font-style:italic;
   margin-top:2%;
}

/* hr rules found here: https://css-tricks.com/examples/hrs/ */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
}

.fa-circle{
   font-size: .5em;
   padding-top: .8em;
   padding-right: .6em;
}
/*
md-tabs-wrapper{
   //margin-right:25%;

}
.md-tabs, md-toolbar > md-tabs md-tabs-wrapper{
   background-color: #010E16;
}*/
md-toolbar{
   top:0;
   max-height: 5%;
   position:fixed;
   background-color: #010E16;//#020e21;//020321;
}
md-toolbar:not(.md-menu-toolbar){
   max-height: 5%;
   position:fixed;
   background-color: #010E16;//#020e21;//020321;
}
/*
md-tabs md-ink-bar{
   color: #A6C9E3;
   background: #70C9E3 none repeat scroll 0% 0%;
}*/
//md-tab-item, md-tabs-wrapper, md-tab-data, md-tab, md-tabs-canvas{
//      height:88vh;
//}

md-tab-item{
   padding: .7%;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
   color: #A6C9E3;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item.md-active:not([disabled]){
   color:#D5EAEF;
   font-weight: bold;
   text-shadow: 1px 2px 9px rgba(250, 255, 255, 1);
}
md-tabs-canvas{
   //height:0;

}

.logoTop{
   margin-left:.5%;
}
.exposedTo{
   margin-top:.7%;
}
.toggler{
   font-style: italic;
}

.projects{
   overflow-y:hidden;
   color: #A6C9E3;
}
.project-sheet{
   border: 4px solid #A6C9E3;
   border-radius: 12px;
   position: relative;
   height:87vh;
   overflow-y:auto;
   color: #A6C9E3;
}
[role="tabpanel"],
md-tabs {

}
.skList{
   white-space: nowrap;
}
.nvLft, .nvRgt{
   position:relative;
   top: 45vh;
   font-size:2em;
}

.nvLft{
   left:1vh;
}
a.md-button.smallNav{
   color:#D5EAEF;
}
@media(min-width:900px){
   .project-sheet{
   //   margin-top:3vh;
   height:84vh;
   }
   .nvRgt{
      left:5vh;
   }
   .nvLft{
      left:9vh;
   }
   md-tabs{
      height:91vh;
      top:-1vh;
   }
}
@media(min-width:1201px){
   .project-sheet{
   //   margin-top:0;
   }
   md-tabs{
      height:91vh;
      top:-4vh;
   }
}
@media(max-width:900px){
   html{
      font-size: .7em;
   }
   .md-button{
      font-size:.5em;
   }
   .myNameSm{
      font-size:1.1em;
   }
   md-toolbar{
      max-height: 5vh;
   }

   .inner{
      margin-top:40px;
   }
   .project-sheet{
   //   margin-top:1vh;
      font-size: 1.5em;
   }
   md-tabs{
      height:97vh;
      top:-2vh;
   }

}
@media(max-width:642px){
   html{
      font-size: .5em;
   }
   .myNameSm{
      font-size:.67em;
   }
   .md-button{
      font-size:.5em;
   }
   md-toolbar{
      max-height: 5vh;
   }

   .inner{
      margin-top:40px;
   }

}

/*
.window-holder {
    border: 2px solid hotPink;
    height: 450px;
    position: relative;
    width: 400px;
    -moz-perspective: 1000px;
    -moz-perspective-origin: 50% 0;
}
.window {
    background-color: skyBlue;
    height: 200px;
    left: 50%;
    margin: -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    -moz-transform: rotateX(45deg);
}

*/
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
