
<div layout-fill  class="resumeProjects">
   <div layout="row">
      <div class="sectionHeading" flex="90">PROJECT EXPERIENCE</div>
   </div>
   <div ng-repeat="pro in projects track by pro.pId" layout-margin ng-if="pro.showDefault=='true'">

      <div layout="row">
         <div flex-gt-sm="55" flex-sm="70" flex-offset-gt-sm="15" flex-offset-sm="5" class="titleRow">{{pro.projectTitle}}  ({{pro.projectDesc}})</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5"class="titleRow">{{pro.date}}
            <span ng-if="pro.hasDateRange == 'true'">-{{pro.endDate}}</span>
         </div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex flex-offset-gt-sm="20" flex-offset-sm="10" class="myTitle"> {{pro.title}}</div>
         </div>
         <div layout="column">
           <ul class="xpDesc  fa-ul">
               <li flex-offset="20" flex="50" ng-repeat="desc in pro.desc"  layout="row"><i class="fa fa-li fa-circle"></i>
                {{desc}}
             </li>
            </ul>
         </div>
      </div>
   </div>
   <div layout="row">
      <span class="toggler" flex-offset="15">
         <a ng-click="toggleProj()" ng-if="!toggleProjects">Show More Projects <i class="fa fa-angle-down"></i></a>
         <a ng-click="toggleProj()" ng-if="toggleProjects">Hide More <i class="fa fa-angle-up"></i></a>
      </span>
   </div>
   <div ng-repeat="pro in projects track by pro.pId" layout-margin ng-if="pro.showDefault=='false' && toggleProjects">

      <div layout="row">
         <div flex-gt-sm="55" flex-sm="70" flex-offset-gt-sm="15" flex-offset-sm="5" class="titleRow">{{pro.projectTitle}}  ({{pro.projectDesc}})</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5"class="titleRow">{{pro.date}}
            <span ng-if="pro.hasDateRange == 'true'">-{{pro.endDate}}</span>
         </div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex flex-offset-gt-sm="20" flex-offset-sm="10" class="myTitle"> {{pro.title}}</div>
         </div>
         <div layout="column">
           <ul class="xpDesc  fa-ul">
               <li flex-offset="20" flex="50" ng-repeat="desc in pro.desc"  layout="row"><i class="fa fa-li fa-circle"></i>
                {{desc}}
             </li>
            </ul>
         </div>
      </div>
   </div>
</div>
