
<div layout-fill  class="resumeXp">
   <div layout="row">
      <div  class="sectionHeading"flex="90">TECHNICAL EXPERIENCE</div>
   </div>
   <div ng-repeat="x in xp | orderBy: 'xId'" layout-margin ng-if="x.irrelevant == 'false'">

      <div layout="row">
         <div flex-gt-sm="55" flex-sm="65" flex-offset-gt-sm="15" flex-offset-sm="10" class="titleRow">{{x.employer}} - {{x.location}}</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5"class="titleRow">{{x.startDate}}-{{x.endDate}}</div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex  flex-offset="20" class="myTitle"> {{x.title}}</div>
         </div>
         <div layout="column">
           <ul class="xpDesc fa-ul">
               <li flex-offset="20" flex="50" ng-repeat="y in x.desc"  layout="row"><i class="fa fa-li fa-circle"></i>
                {{y}}
             </li>
            </ul>
         </div>
      </div>
   </div>
   <div layout="row">
      <div flex="90"><span class="sectionHeading">OTHER EXPERIENCE</span>
      <span class="toggler">
         <a ng-click="toggleExp()" ng-if="!toggleXP">Show <i class="fa fa-angle-down"></i></a>
         <a ng-click="toggleExp()" ng-if="toggleXP">Hide <i class="fa fa-angle-up"></i></a>
      </span>
      </div>
   </div>
   <div ng-repeat="x in xp | orderBy: 'xId'" layout-margin ng-if="x.irrelevant == 'true' && toggleXP">

      <div layout="row">
         <div flex-gt-sm="55" flex-sm="65" flex-offset-gt-sm="15" flex-offset-sm="10" class="titleRow">{{x.employer}} - {{x.location}}</div>
         <div flex flex-offset-gt-sm="10" flex-offset-sm="5"class="titleRow">{{x.startDate}}-{{x.endDate}}</div>
      </div>
      <div layout="column">
         <div layout="row">
             <div flex  flex-offset="20" class="myTitle"> {{x.title}}</div>
         </div>
         <div layout="column">
           <ul class="xpDesc fa-ul">
               <li flex-offset="20" flex="50" ng-repeat="y in x.desc"  layout="row"><i class="fa fa-li fa-circle"></i>
                {{y}}
             </li>
            </ul>
         </div>
      </div>
   </div>
</div>
